$breath-shadow-base: var(--pulse-from) 0px 0px
  calc(70px * var(--size-multiplier)) calc(60px * var(--size-multiplier));

$micro-drift-animation-base: micro-drift 10s infinite forwards linear;

#fireflyCursor {
  color-scheme: only light;
  z-index: 9999;
  height: 0;
  width: 0;
  animation:
    breath-animation calc(5s / var(--breath-multiplier)) infinite alternate
      ease-in-out,
    $micro-drift-animation-base;
  position: fixed;
  opacity: 0;
  transition: calc(1s * var(--follow-delay-multiplier)) linear;
  &.visible {
    opacity: var(--opacity);
  }
  &.click {
    animation:
      breath-animation-click var(--breath-click-duration) forwards ease-out,
      $micro-drift-animation-base;
  }
}

@keyframes breath-animation {
  from {
    box-shadow: $breath-shadow-base;
  }
  to {
    box-shadow: var(--pulse-to) 0px 0px calc(80px * var(--size-multiplier))
      calc(80px * var(--size-multiplier));
  }
}

@keyframes breath-animation-click {
  0% {
    box-shadow: hsla(var(--random-pastelToVividColor), 0.5) 0px 0px
      calc(9px * var(--size-multiplier)) calc(9px * var(--size-multiplier));
  }
  20% {
    box-shadow: hsla(var(--random-pastelToVividColor), 0.4) 0px 0px
      calc(100px * var(--size-multiplier)) calc(100px * var(--size-multiplier));
  }
  100% {
    box-shadow: $breath-shadow-base;
  }
}

@keyframes micro-drift {
  0% {
    left: 0px;
    top: 0px;
  }
  1% {
    left: calc(0.6px * var(--drift-multiplier));
    top: calc(1.1px * var(--drift-multiplier));
  }
  2% {
    left: calc(1.12px * var(--drift-multiplier));
    top: calc(2.24px * var(--drift-multiplier));
  }
  3% {
    left: calc(1.56px * var(--drift-multiplier));
    top: calc(3.42px * var(--drift-multiplier));
  }
  4% {
    left: calc(1.94px * var(--drift-multiplier));
    top: calc(4.62px * var(--drift-multiplier));
  }
  5% {
    left: calc(2.24px * var(--drift-multiplier));
    top: calc(5.84px * var(--drift-multiplier));
  }
  6% {
    left: calc(2.46px * var(--drift-multiplier));
    top: calc(7.08px * var(--drift-multiplier));
  }
  7% {
    left: calc(2.6px * var(--drift-multiplier));
    top: calc(8.32px * var(--drift-multiplier));
  }
  8% {
    left: calc(2.68px * var(--drift-multiplier));
    top: calc(9.58px * var(--drift-multiplier));
  }
  9% {
    left: calc(2.66px * var(--drift-multiplier));
    top: calc(10.84px * var(--drift-multiplier));
  }
  10% {
    left: calc(2.58px * var(--drift-multiplier));
    top: calc(12.1px * var(--drift-multiplier));
  }
  11% {
    left: calc(2.4px * var(--drift-multiplier));
    top: calc(13.34px * var(--drift-multiplier));
  }
  12% {
    left: calc(2.16px * var(--drift-multiplier));
    top: calc(14.56px * var(--drift-multiplier));
  }
  13% {
    left: calc(1.82px * var(--drift-multiplier));
    top: calc(15.78px * var(--drift-multiplier));
  }
  14% {
    left: calc(1.42px * var(--drift-multiplier));
    top: calc(16.98px * var(--drift-multiplier));
  }
  15% {
    left: calc(0.96px * var(--drift-multiplier));
    top: calc(18.14px * var(--drift-multiplier));
  }
  16% {
    left: calc(0.4px * var(--drift-multiplier));
    top: calc(19.26px * var(--drift-multiplier));
  }
  17% {
    left: calc(-0.22px * var(--drift-multiplier));
    top: calc(20.36px * var(--drift-multiplier));
  }
  18% {
    left: calc(-0.9px * var(--drift-multiplier));
    top: calc(21.42px * var(--drift-multiplier));
  }
  19% {
    left: calc(-1.64px * var(--drift-multiplier));
    top: calc(22.42px * var(--drift-multiplier));
  }
  20% {
    left: calc(-2.46px * var(--drift-multiplier));
    top: calc(23.38px * var(--drift-multiplier));
  }
  21% {
    left: calc(-3.32px * var(--drift-multiplier));
    top: calc(24.28px * var(--drift-multiplier));
  }
  22% {
    left: calc(-4.26px * var(--drift-multiplier));
    top: calc(25.14px * var(--drift-multiplier));
  }
  23% {
    left: calc(-5.22px * var(--drift-multiplier));
    top: calc(25.94px * var(--drift-multiplier));
  }
  24% {
    left: calc(-6.26px * var(--drift-multiplier));
    top: calc(26.66px * var(--drift-multiplier));
  }
  25% {
    left: calc(-7.32px * var(--drift-multiplier));
    top: calc(27.32px * var(--drift-multiplier));
  }
  26% {
    left: calc(-8.42px * var(--drift-multiplier));
    top: calc(27.92px * var(--drift-multiplier));
  }
  27% {
    left: calc(-9.56px * var(--drift-multiplier));
    top: calc(28.44px * var(--drift-multiplier));
  }
  28% {
    left: calc(-10.74px * var(--drift-multiplier));
    top: calc(28.88px * var(--drift-multiplier));
  }
  29% {
    left: calc(-11.94px * var(--drift-multiplier));
    top: calc(29.26px * var(--drift-multiplier));
  }
  30% {
    left: calc(-13.16px * var(--drift-multiplier));
    top: calc(29.56px * var(--drift-multiplier));
  }
  31% {
    left: calc(-14.4px * var(--drift-multiplier));
    top: calc(29.78px * var(--drift-multiplier));
  }
  32% {
    left: calc(-15.64px * var(--drift-multiplier));
    top: calc(29.92px * var(--drift-multiplier));
  }
  33% {
    left: calc(-16.9px * var(--drift-multiplier));
    top: calc(30px * var(--drift-multiplier));
  }
  34% {
    left: calc(-18.16px * var(--drift-multiplier));
    top: calc(29.98px * var(--drift-multiplier));
  }
  35% {
    left: calc(-19.42px * var(--drift-multiplier));
    top: calc(29.9px * var(--drift-multiplier));
  }
  36% {
    left: calc(-20.66px * var(--drift-multiplier));
    top: calc(29.72px * var(--drift-multiplier));
  }
  37% {
    left: calc(-21.88px * var(--drift-multiplier));
    top: calc(29.48px * var(--drift-multiplier));
  }
  38% {
    left: calc(-23.1px * var(--drift-multiplier));
    top: calc(29.14px * var(--drift-multiplier));
  }
  39% {
    left: calc(-24.3px * var(--drift-multiplier));
    top: calc(28.74px * var(--drift-multiplier));
  }
  40% {
    left: calc(-25.46px * var(--drift-multiplier));
    top: calc(28.28px * var(--drift-multiplier));
  }
  41% {
    left: calc(-26.58px * var(--drift-multiplier));
    top: calc(27.72px * var(--drift-multiplier));
  }
  42% {
    left: calc(-27.68px * var(--drift-multiplier));
    top: calc(27.1px * var(--drift-multiplier));
  }
  43% {
    left: calc(-28.74px * var(--drift-multiplier));
    top: calc(26.42px * var(--drift-multiplier));
  }
  44% {
    left: calc(-29.74px * var(--drift-multiplier));
    top: calc(25.68px * var(--drift-multiplier));
  }
  45% {
    left: calc(-30.7px * var(--drift-multiplier));
    top: calc(24.86px * var(--drift-multiplier));
  }
  46% {
    left: calc(-31.6px * var(--drift-multiplier));
    top: calc(24px * var(--drift-multiplier));
  }
  47% {
    left: calc(-32.46px * var(--drift-multiplier));
    top: calc(23.06px * var(--drift-multiplier));
  }
  48% {
    left: calc(-33.22px * var(--drift-multiplier));
    top: calc(22.1px * var(--drift-multiplier));
  }
  49% {
    left: calc(-33.98px * var(--drift-multiplier));
    top: calc(21.06px * var(--drift-multiplier));
  }
  50% {
    left: calc(-34.64px * var(--drift-multiplier));
    top: calc(20px * var(--drift-multiplier));
  }
  51% {
    left: calc(-35.24px * var(--drift-multiplier));
    top: calc(18.9px * var(--drift-multiplier));
  }
  52% {
    left: calc(-35.76px * var(--drift-multiplier));
    top: calc(17.76px * var(--drift-multiplier));
  }
  53% {
    left: calc(-36.2px * var(--drift-multiplier));
    top: calc(16.58px * var(--drift-multiplier));
  }
  54% {
    left: calc(-36.58px * var(--drift-multiplier));
    top: calc(15.38px * var(--drift-multiplier));
  }
  55% {
    left: calc(-36.88px * var(--drift-multiplier));
    top: calc(14.16px * var(--drift-multiplier));
  }
  56% {
    left: calc(-37.1px * var(--drift-multiplier));
    top: calc(12.92px * var(--drift-multiplier));
  }
  57% {
    left: calc(-37.24px * var(--drift-multiplier));
    top: calc(11.68px * var(--drift-multiplier));
  }
  58% {
    left: calc(-37.32px * var(--drift-multiplier));
    top: calc(10.42px * var(--drift-multiplier));
  }
  59% {
    left: calc(-37.3px * var(--drift-multiplier));
    top: calc(9.16px * var(--drift-multiplier));
  }
  60% {
    left: calc(-37.22px * var(--drift-multiplier));
    top: calc(7.9px * var(--drift-multiplier));
  }
  61% {
    left: calc(-37.04px * var(--drift-multiplier));
    top: calc(6.66px * var(--drift-multiplier));
  }
  62% {
    left: calc(-36.8px * var(--drift-multiplier));
    top: calc(5.44px * var(--drift-multiplier));
  }
  63% {
    left: calc(-36.46px * var(--drift-multiplier));
    top: calc(4.22px * var(--drift-multiplier));
  }
  64% {
    left: calc(-36.06px * var(--drift-multiplier));
    top: calc(3.02px * var(--drift-multiplier));
  }
  65% {
    left: calc(-35.6px * var(--drift-multiplier));
    top: calc(1.86px * var(--drift-multiplier));
  }
  66% {
    left: calc(-35.04px * var(--drift-multiplier));
    top: calc(0.74px * var(--drift-multiplier));
  }
  67% {
    left: calc(-34.42px * var(--drift-multiplier));
    top: calc(-0.36px * var(--drift-multiplier));
  }
  68% {
    left: calc(-33.74px * var(--drift-multiplier));
    top: calc(-1.42px * var(--drift-multiplier));
  }
  69% {
    left: calc(-33px * var(--drift-multiplier));
    top: calc(-2.42px * var(--drift-multiplier));
  }
  70% {
    left: calc(-32.18px * var(--drift-multiplier));
    top: calc(-3.38px * var(--drift-multiplier));
  }
  71% {
    left: calc(-31.32px * var(--drift-multiplier));
    top: calc(-4.28px * var(--drift-multiplier));
  }
  72% {
    left: calc(-30.38px * var(--drift-multiplier));
    top: calc(-5.14px * var(--drift-multiplier));
  }
  73% {
    left: calc(-29.42px * var(--drift-multiplier));
    top: calc(-5.94px * var(--drift-multiplier));
  }
  74% {
    left: calc(-28.38px * var(--drift-multiplier));
    top: calc(-6.66px * var(--drift-multiplier));
  }
  75% {
    left: calc(-27.32px * var(--drift-multiplier));
    top: calc(-7.32px * var(--drift-multiplier));
  }
  76% {
    left: calc(-26.22px * var(--drift-multiplier));
    top: calc(-7.92px * var(--drift-multiplier));
  }
  77% {
    left: calc(-25.08px * var(--drift-multiplier));
    top: calc(-8.44px * var(--drift-multiplier));
  }
  78% {
    left: calc(-23.9px * var(--drift-multiplier));
    top: calc(-8.88px * var(--drift-multiplier));
  }
  79% {
    left: calc(-22.7px * var(--drift-multiplier));
    top: calc(-9.26px * var(--drift-multiplier));
  }
  80% {
    left: calc(-21.48px * var(--drift-multiplier));
    top: calc(-9.56px * var(--drift-multiplier));
  }
  81% {
    left: calc(-20.24px * var(--drift-multiplier));
    top: calc(-9.78px * var(--drift-multiplier));
  }
  82% {
    left: calc(-19px * var(--drift-multiplier));
    top: calc(-9.92px * var(--drift-multiplier));
  }
  83% {
    left: calc(-17.74px * var(--drift-multiplier));
    top: calc(-10px * var(--drift-multiplier));
  }
  84% {
    left: calc(-16.48px * var(--drift-multiplier));
    top: calc(-9.98px * var(--drift-multiplier));
  }
  85% {
    left: calc(-15.22px * var(--drift-multiplier));
    top: calc(-9.9px * var(--drift-multiplier));
  }
  86% {
    left: calc(-13.98px * var(--drift-multiplier));
    top: calc(-9.72px * var(--drift-multiplier));
  }
  87% {
    left: calc(-12.76px * var(--drift-multiplier));
    top: calc(-9.48px * var(--drift-multiplier));
  }
  88% {
    left: calc(-11.54px * var(--drift-multiplier));
    top: calc(-9.14px * var(--drift-multiplier));
  }
  89% {
    left: calc(-10.34px * var(--drift-multiplier));
    top: calc(-8.74px * var(--drift-multiplier));
  }
  90% {
    left: calc(-9.18px * var(--drift-multiplier));
    top: calc(-8.28px * var(--drift-multiplier));
  }
  91% {
    left: calc(-8.06px * var(--drift-multiplier));
    top: calc(-7.72px * var(--drift-multiplier));
  }
  92% {
    left: calc(-6.96px * var(--drift-multiplier));
    top: calc(-7.1px * var(--drift-multiplier));
  }
  93% {
    left: calc(-5.9px * var(--drift-multiplier));
    top: calc(-6.42px * var(--drift-multiplier));
  }
  94% {
    left: calc(-4.9px * var(--drift-multiplier));
    top: calc(-5.68px * var(--drift-multiplier));
  }
  95% {
    left: calc(-3.94px * var(--drift-multiplier));
    top: calc(-4.86px * var(--drift-multiplier));
  }
  96% {
    left: calc(-3.04px * var(--drift-multiplier));
    top: calc(-4px * var(--drift-multiplier));
  }
  97% {
    left: calc(-2.18px * var(--drift-multiplier));
    top: calc(-3.06px * var(--drift-multiplier));
  }
  98% {
    left: calc(-1.38px * var(--drift-multiplier));
    top: calc(-2.1px * var(--drift-multiplier));
  }
  99% {
    left: calc(-0.66px * var(--drift-multiplier));
    top: calc(-1.06px * var(--drift-multiplier));
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
